    <div class="container">
        <h1>Create Policy</h1>
        <form>
          <div class="form-group">
            <label for="name">Cover Amount</label><br/>
            <input type="text" class="form-control" id="Cover Amount" required>
          </div>
    
          <div class="form-group">
            <label for="alterEgo">Premium Amount</label><br/>
            <input type="text" class="form-control" id="premiumAmount">
          </div>

          <div class="form-group">
            <label for="alterEgo">Start Date</label><br/>
            <input type="date" class="form-control" id="startDate">
          </div>

          <div class="form-group">
            <label for="alterEgo">End Date</label><br/>
            <input type="date" class="form-control" id="endDate">
          </div>
          
          <button type="submit" class="btn btn-success">Create</button>
    
        </form>
    </div>




