<mat-card>
    <mat-card-header>
        <mat-card-title>Pay Order Details</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>


    <mat-card-content>
        <div class="row">
            <div class="point">
                    <mat-card>Issued To - {{ payOrder.recieverName }}</mat-card>
                    <mat-card>issuer - {{ payOrder.issueingBank }}</mat-card>
            </div>
            <div class="point">
                    <mat-card>Valid Upto - {{ payOrder.expiry |date}}</mat-card>
                    <mat-card>Amount - {{ payOrder.amount| currency:'inr' }}</mat-card>
            </div>
        </div>
        
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
            <button mat-button>Download</button>
            <button mat-raised-button>{{ payOrder.status }}</button>
          </mat-card-actions>

</mat-card>