<div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Claim Status</mat-card-title>
        </mat-card-header>

        <form class="">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="Unique Policy ID">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block" (click)="getbyid">Get Status</button>
        </form>
    </mat-card>



</div>