<table mat-table [dataSource]="dataSource" class="list-table mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="policyName">
        <th mat-header-cell *matHeaderCellDef> policy Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.policyName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="tenure">
        <th mat-header-cell *matHeaderCellDef> tenure </th>
        <td mat-cell *matCellDef="let element"> {{element.tenure}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="premium">
        <th mat-header-cell *matHeaderCellDef> premium </th>
        <td mat-cell *matCellDef="let element"> {{element.premium}} </td>
    </ng-container>

    <ng-container matColumnDef="oracleId">
        <th mat-header-cell *matHeaderCellDef> oracle Name </th>
        <td mat-cell *matCellDef="let element"> {{element.oracleId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>