<div class="main-content">
    <mat-tab-group dynamicHeight>
        <mat-tab label="List Policy">
            <div class="box-content">
                <app-policy-list></app-policy-list>
            </div>
        </mat-tab>
        <mat-tab label="Create Policy">
            <div class="box-content">
                <app-create-policy></app-create-policy>
            </div>
        </mat-tab>
        <mat-tab label="Claim Status">
            <div class="box-content">
                <app-claim-status></app-claim-status>
            </div>
        </mat-tab>
<!--        <mat-tab label="Buy Policy">
            <div class="box-content">
                Buy Policy
            </div>
        </mat-tab>
        -->
    </mat-tab-group>
</div>